.connection-menu {
    background: #202020;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 5vmin;
    position: absolute;
}

.connection-menu .stats-parent {
    display: none;
}

.connection-menu .last-match-statistics {
    font-family: 'Inconsolata', sans-serif;
    font-size: 2.5vmin;
}

.connection-menu .last-match-statistics .stats-large {
    font-size: 3vmin;
}
.connection-menu .last-match-statistics .stats-title {
    font-size: 3.5vmin;
}
.connection-menu .last-match-statistics .stats-pad {
    margin-bottom: 1vmin;
}

.connection-menu .disconnected-reason {
    font-family: 'Inconsolata', sans-serif;
    font-size: 2.5vmin;
    color: #ffd700
}

.connection-menu-section {
    display: none;
    padding: 2.5vmin;
}

.connection-menu-content-container {
    display: flex;
    align-items: center;
    min-width: 60vw;
    justify-content: center;
}

.connection-menu-content-container-with-multiple {
    justify-content: space-around;
}