.create-world-mode-toggle-parent{
    top: 100px;
} 
.create-world-mode-toggle{
    background-color: gold;
    border: solid 2px white;
    color: black;
    border-bottom: none;
    padding: 10px;
    font-family: 'Inconsolata', sans-serif;
    font-size: 2vmin;
    cursor: pointer;
}
.create-world-mode-toggle:last-child{
    border-bottom: solid 2px white;
}

.create-world-toggle-enabled {
    background-color: slateblue;
    color: white;
}