.currency-store-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.currency-store-container .currency-store {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #101010;
    border: solid 1px #ffffff;
    padding: 2.5vmin;
}

.currency-store-container h2 {
    font-size: 7.5vmin;
    margin: 0 0 2.5vmin 0;
}

.currency-store-container .currency-store-option-container {
    display: flex;
    font-family: 'Inconsolata', sans-serif;
    margin-bottom: 2.5vmin;
    padding: 2.5vmin 0;
}

.currency-store-container .currency-store-option {
    border: solid 1px #ffffff;
    width: 15vw;
    margin: 0 1vmin;
    padding: 2.5vmin 0;
}

.currency-store-container .currency-store-option-img {
    height: 10vmin;
}

.currency-store-container .currency-store-option-title {
    font-size: 3.5vmin;
}

.currency-store-container .currency-store-option-price {
    font-size: 2.25vmin;
    color: #c0c0c0;
    margin-bottom: 1vmin;
}

.currency-store-container .currency-store-title-low {
    color: #ffec80;
}

.currency-store-container .currency-store-title-med {
    color: #ffe033;
}

.currency-store-container .currency-store-title-high {
    color: #e6c300;
}

.currency-store-container .currency-store-option-buy {
    display: inline-block;
}
