/*Debug Panel*/
.debug-panel{
    width: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Inconsolata', sans-serif;
}
.debug-panel .debug-data{
    color: white;
    font-size: 12px;
}
