/* GUI */
.gui{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
}
.gui .gui-element{
    display: none;
    position: absolute;
}

.gui .cooldown-bar-container,
.gui .health-bar-container{
    text-align: center;
    width: 100%;
    bottom: 2.5vh;
}

.gui .cooldown-bar-container{
    bottom: 5.5vh;
}

.gui .cooldown-bar-parent,
.gui .health-bar-parent{
    box-sizing: border-box;
    display: inline-block;
    width: 33vw;
    height: 2.5vh;
    background-color: rgba(0, 0, 0, 0.25);
    border: solid 1px #ffffff;
}



.gui .cooldown-bar,
.gui .health-bar{
    height: 100%;
    background-color: green;
}

.gui .health-bar{
    background-color: red;
}
