/* GUI */
.gui{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0; /* Generates stacking context for GUI*/
}
.gui .gui-element{
    display: none;
    position: absolute;
}

.gui .cooldown-bar-container,
.gui .health-bar-container{
    text-align: center;
    width: 100%;
    bottom: 2.5vh;
}

.gui .cooldown-bar-container{
    bottom: 5.5vh;
}

.gui .cooldown-bar-parent,
.gui .health-bar-parent{
    box-sizing: border-box;
    display: inline-block;
    width: 33vw;
    height: 2.5vh;
    background-color: rgba(0, 0, 0, 0.25);
    border: solid 1px #ffffff;
}



.gui .cooldown-bar,
.gui .health-bar{
    height: 100%;
    background-color: green;
}

.gui .health-bar{
    background-color: red;
}

.gui .ammo-display-container {
    bottom: 2.5vmin;
    right: 2.5vmin;
    height: 10vmin;
    width: 10vmin;
}

.gui .ammo-count {
    font-size: 5vmin;
    position: absolute;
    color: #ffffff;
    text-align: center;
    width: 100%;
    text-align: center;
    line-height: 10vmin;
    vertical-align: center;
}

.gui .ammo-display-container svg {
    transform: rotate(-90deg);
}

.gui .killfeed-container {
    width: 25vw;
    max-height: 25vh;
    right: 2.5vmin;
    top: 2.5vmin;
    color:  #ffffff;
    font-size: 2vmin;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
}

.gui .killfeed-message {
    height: 2.5vh;
    font-family: 'Inconsolata', sans-serif;
    font-weight: bold;
    transition: opacity 0.5s ease;
}

.gui .chat-container {
    z-index: 1;
    width: 25vw;
    max-height: 25vh;
    bottom: 2.5vmin;
    left: 2.5vmin;
    color: #ffffff;
    font-size: 2vmin;
    font-family: 'Inconsolata', sans-serif;
}

.gui .chat-container .chat-message {
    margin: 0.5vh 0;
}

.gui .chat-container .chat-input {
    width: 100%;
    background: none;
    border: none;
    padding: 0;
    border-bottom: solid 1px #ffffff;
    outline: none;
    color: #ffffff;
    font-size: 2vmin;
    font-family: 'Inconsolata', sans-serif;
}