/* Main Menu */
.main-menu {
    position: absolute;
}
.main-menu .opt-title {
    font-size: 4vmin;
}
.main-menu .main-menu-header {
    margin-top: 2.5vh;
    max-width: 1250px;
    max-height: 512px;
    height: 33vh;
    margin-bottom: 0.5vh;
}
.main-menu .main-menu-header-container {
    text-align: center;
}
.main-menu .game-suggestion {
    margin-bottom: 2.5vh;
    font-family: 'Inconsolata', sans-serif;
    font-size: 2vmin;
    color: #ffffff;
    display: inline-block;
    padding: 1vmin;
}
.main-menu .game-suggestion-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}
.main-menu .game-suggestion-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}
.main-menu .menu-input {
    outline: none;
    background: none;
    padding: 0.5vmin 1vmin;
    font: 3vmin 'Bombardier', sans-serif;
    color: #ffffff;
    border: solid 1px;
    margin-bottom: 3vmin;
}
.main-menu .menu-input:focus {
    border-color: #03c95f;
}
.main-menu .menu-number-input {
    width: 5vw;
}
.main-menu .menu-error {
    font-family: 'Inconsolata', sans-serif;
    font-size: 3vmin;
    color: red;
}
.main-menu .menu-error-small {
    font-size: 2vmin;
}
.main-menu input[type='file'] {
    display: none;
}
.main-menu .menu-file-input {
    box-sizing: border-box;
    border: dashed 3px;
    padding: 1vmin;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vmin;
}
.main-menu .menu-file-choose {
    font-size: 3vmin;
    display: inline-block;
}
.main-menu .menu-or {
    font-size: 2vmin;
    display: inline-block;
}
.main-menu .menu-drop {
    font-size: 3vmin;
    display: inline-block;
}
.main-menu .menu-file-name {
    display: inline-block;
    color: #03c95f;
    font-size: 3vmin;
    margin-top: 1vmin;
}

.discord-container {
    position: absolute;
    bottom: 2.5vmin;
    right: 2.5vmin;
}

.main-menu .discord-image {
    height: 10vmin;
    width: 10vmin;
}

.main-menu .discord-ref {
    display: inline-block;
}

.play-button-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 70vh;
}

.main-menu .play-btn {
    background-color: #03b053;
}

.main-menu .play-btn:hover {
    background-color: #03c95f;
    border-color: white;
    color: white;
}

.main-menu .create-btn {
    margin-top: 10vh;
}

.main-menu .feedback-request {
    position: absolute;
    left: 2.5vmin;
    bottom: 2.5vmin;
    width: 33vw;
    font-family: 'Inconsolata', sans-serif;
    font-size: 2.5vmin;
    text-align: left;
    margin: 0;
}
.main-menu .feedback-greeting {
    font-size: 4vmin;
}
.main-menu .standard-anchor {
    color: #00b9ff;
}
.main-menu .standard-anchor:hover {
    color: #33c9ff;
}
.main-menu .auth-container {
    position: absolute;
    top: 2.5vmin;
    left: 2.5vmin;
    display: inline-block;
    text-align: center;
}

.main-menu #auth-signout {
    display: none;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: #00b9ff;
    text-decoration: underline;
}

.main-menu #auth-signout:hover {
    cursor: pointer;
    color: #33c9ff;
}

.main-menu .server-playercount {
    display: inline-block;
    position: absolute;
    left: 15vw;
    top: 2.5vmin;
    font-size: 2vmin;
    height: 2.5vmin;
    line-height: 2.5vmin;
}

.main-menu .partners-link {
    position: absolute;
    top: 2.5vmin;
    right: 26vmin;
    font-size: 3vmin;
    padding: 0 0.5vmin;
    border: solid 1px #ffffff;
    color: #ffffff;
    text-decoration: none;
}

.main-menu .partners-link:hover {
    cursor: pointer;
    background-color: #03c95f;
}

.main-menu .leaderboard {
    position: absolute;
    top: 10vh;
    background-color: #101010;
    border: solid 1px #ffffff;
}

.main-menu .leaderboard {
    right: 2.5vw;
    padding: 0;
    width: 15vw;
}
.main-menu .data-container,
.main-menu .leaderboard-container,
.main-menu .search-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: right;
    grid-gap: 0.5vmin 2vmin;
    font-size: 2.5vmin;
    font-family: 'Inconsolata', sans-serif;
}

.main-menu .leaderboard-container {
    font-size: 2vmin;
    margin: 0 2.5vmin;
    grid-template-columns: repeat(3, auto);
}

.main-menu .search-container {
    font-size: 2vmin;
    margin: 0 2.5vmin;
    display: none;
}

.main-menu .leaderboard-entry-username {
    justify-self: left;
}
.data-container div:nth-child(odd),
.main-menu .player-stat:nth-child(odd),
.main-menu .search-result:nth-child(odd) {
    justify-self: left;
}

.main-menu .leaderboard-title {
    font-size: 5vmin;
    margin: 1vmin 0;
    font-weight: normal;
}

.main-menu .leaderboard-title  {
    font-size: 3.5vmin;
}

.main-menu .leaderboard-rank-container {
    font-size: 2.5vmin;
    margin-top: 2.5vmin;
}

.main-menu .leaderboard-selection-parent {
    display: flex;
    justify-content: space-between;
}

.main-menu .leaderboard-selection {
    flex-grow: 1;
    flex-basis: 0;
    font-size: 1.75vmin;
    height: 4vmin;
    line-height: 4vmin;
    vertical-align: middle;
}

.main-menu .leaderboard-selection:hover {
    background-color: #03b053;
    cursor: pointer;
}

.main-menu .leaderboard-selection-selected {
    background-color: #03c95f;
}

.main-menu .leaderboard-selection-selected:hover {
    background-color: #03c95f;
}

.main-menu .leaderboard-message {
    font-size: 2.5vmin;
    font-family: 'Inconsolata', sans-serif;
    text-transform: none;
}

.main-menu .leaderboard-message {
    margin-bottom: 2.5vmin;
}

.main-menu .play-as-guest {
    font-family: 'Inconsolata', sans-serif;

    font-size: 3vmin;
    display: none;
}

.main-menu .menu-link {
    font-size: 2vmin;
    color: #00b9ff;
    text-decoration: underline;
    font-family: 'Inconsolata', sans-serif;
}

.main-menu .menu-link:hover {
    cursor: pointer;
    color: #33c9ff;
}

.main-menu .menu-link-xl {
    font-size: 2.5vmin;
}

.main-menu .menu-link-small {
    font-size: 1.5vmin;
}
