/* Main Menu */
.main-menu {
    background: #202020;
}
.main-menu .opt-title {
    font-size: 4vmin;
}
.main-menu .main-menu-header {
    margin-top: 2.5vh;
    max-width: 1250px;
    max-height: 512px;
    height: 33vh;
    margin-bottom: 2.5vh;
}
.main-menu .menu-input {
    outline: none;
    background: none;
    padding: 0.5vmin 1vmin;
    font: 3vmin 'Bombardier', sans-serif;
    color: #ffffff;
    border: solid 1px;
    margin-bottom: 3vmin;
}
.main-menu .menu-input:focus {
    border-color: green;
}
.main-menu .menu-number-input {
    width: 9vmin;
}
.main-menu .menu-error {
    font-size: 3vmin;
    color: red;
}
.main-menu input[type='file'] {
    display: none;
}
.main-menu .menu-file-input {
    box-sizing: border-box;
    border: dashed 3px;
    width: 50vmin;
    height: 30vmin;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vmin;
}
.main-menu .menu-file-choose {
    font-size: 4vmin;
    display: inline-block;
}
.main-menu .menu-or {
    font-size: 2vmin;
    display: inline-block;
}
.main-menu .menu-drop {
    font-size: 4vmin;
    display: inline-block;
}
.main-menu .menu-file-name {
    display: inline-block;
    color: green;
    font-size: 5vmin;
    margin-top: 5vmin;
}

.discord-container {
    position: absolute;
    bottom: 2.5vmin;
    right: 2.5vmin;
}

.main-menu .discord-image {
    height: 10vmin;
    width: 10vmin;
}

.main-menu .discord-ref {
    display: inline-block;
}

.main-menu .play-btn {
    margin-bottom: 25vh;
}

.main-menu .feedback-request {
    position: absolute;
    left: 2.5vmin;
    bottom: 2.5vmin;
    width: 33vw;
    font-family: 'Inconsolata', sans-serif;
    font-size: 2vmin;
    text-align: left;
}
.main-menu .feedback-greeting {
    font-size: 3vmin;
}
.main-menu .feedback-request a {
    color: #00b9ff;
}
.main-menu .auth-container {
    position: absolute;
    top: 1vmin;
    left: 1vmin;
    display: inline-block;
    text-align: center;
}

.main-menu #auth-signout {
    display: none;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: #00b9ff;
    text-decoration: underline;
}

.main-menu #auth-signout:hover {
    cursor: pointer;
}

.main-menu .server-playercount {
    display: inline-block;
    position: absolute;
    left: 15vw;
    top: 1vmin;
    font-size: 2vmin;
    height: 2.5vmin;
    line-height: 2.5vmin;
}