html, body{
    margin: 0;
    background-color: black;
    font-family: 'Bombardier', sans-serif;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
#game-canvas{
    display: block;
}
.no-select{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.text-select{
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.menu{
    height: 100%;
    width: 100%;
    color: #d0d0d0;
    text-align: center;
    display: none;
    text-transform: uppercase;
}
.menu-section{
    display: none;
}
.menu-selection, .menu-text-input{
    font-size: 5vmin;
    margin: 1vmin;
    display: inline-block;
    border: solid 1px;
    padding: 0 1vmin;
    cursor: pointer;
}
.menu-selection:hover{
    background-color: green;
    border-color: green;
}
.menu-selection-xl{
    font-size: 10vmin;
    padding: 2vmin 3vmin;
}
.menu-selection.disabled{
    color: #707070 !important;
    background: none !important;
    border-color: #707070 !important;
    cursor: default !important;
}
.menu-text-input{
    font-family: 'Bombardier', sans-serif;
    background: none;
    color: #d0d0d0;
    outline: none;
}
.menu-text-input:focus{
    border-color: green;
}