/* Main Menu */
.main-menu{
    background: radial-gradient(#303030, #101010);
}
.main-menu .opt-title{
    font-size: 4vmin;
}
.main-menu .main-menu-title{
    font-size: 15vmin;
    margin: 5vmin 0 7.5vmin 0;
    display: inline-block;
    color: #ffffff;
    font-weight: normal;
}
.main-menu .menu-input{
    outline: none;
    background: none;
    padding: 0.5vmin 1vmin;
    font: 3vmin 'No Regular', monospace;
    color: #ffffff;
    border: solid 1px;
    margin-bottom: 3vmin;
}
.main-menu .menu-input:focus{
    border-color: green;
}
.main-menu .menu-number-input{
    width: 9vmin;
}
.main-menu .menu-error{
    font-size: 3vmin;
    color: red;
    text-transform: none;
}
.main-menu input[type='file']{
    display: none;
}
.main-menu .menu-file-input {
    box-sizing: border-box;
    border: dashed 3px;
    width: 50vmin;
    height: 30vmin;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vmin;
}
.main-menu .menu-file-choose{
    font-size: 4vmin;
    display: inline-block;
}
.main-menu .menu-or {
    font-size: 2vmin;
    display: inline-block;
}
.main-menu .menu-drop{
    font-size: 4vmin;
    display: inline-block;
}
.main-menu .menu-file-name{
    display: inline-block;
    color: green;
    font-size: 5vmin;
    margin-top: 5vmin;
}

.main-menu .server-list{
    height: 50vh;
    width: 33vw;
    overflow: auto;
    display: inline-block;
}

.main-menu .server-opt-parent{
    box-sizing: border-box;
    margin: 2vmin;
    padding: 1vmin;
}

.main-menu .server-opt-selected{
    border: solid 1px white;
}

.main-menu .server-opt-name,
.main-menu .server-opt-address{
    margin-bottom: 1vmin;
}

.main-menu .server-opt-address{
    color: #A0A0A0;
    font-size: 2vmin;
}
.social-container {
    position: absolute;
    bottom: 2.5vmin;
    right: 2.5vmin;
}
.social-small-container {
    display: inline-block;
    height: 10vmin;
}
.main-menu .social-image {
    height: 3.5vmin;
    width: 3.5vmin;
    margin: 0.5vmin 0.5vmin;
}
.main-menu .social-image-large {
    height: 10vmin;
    width: 10vmin;
}
.main-menu .social-ref {
    display: inline-block;
}
.main-menu .play-btn {
    margin-bottom: 35vh;
}