html, body{
    margin: 0;
    background-color: black;
    font-family: 'No Regular', monospace;
    height: 100%;
    overflow: hidden;
}
#game-canvas{
    display: block;
}
.no-select{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.menu{
    height: 100%;
    width: 100%;
    color: #d0d0d0;
    text-align: center;
    text-transform: uppercase;
    display: none;
}
.menu-selection{
    font-size: 5vmin;
    margin: 1vmin;
    display: inline-block;
    border: solid 1px;
    padding: 0 1vmin;
}
.menu-section{
    display: none;
}
.menu-selection:hover{
    background-color: green;
    border-color: green;
    cursor: pointer;
}
