.options-menu .options-parent{
    display: inline-grid;
    grid-template-columns: auto auto;
    justify-items: left;
    grid-gap: 5px 5px;
    font-size: 3vmin;
    
}
.options-menu .option-title{
    justify-self: right;
}

.options-menu .option-value{
    justify-self: stretch;
    background: #505050;
    cursor: pointer;
}

.options-menu #opt-opt-return{
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
}

.options-menu .option-value:hover:not(.active){
    background-color: #707070;
}

.options-menu .active{
    background: green;
}

.options-tip {
    font-size: 2vmin;
    font-family: 'Inconsolata', sans-serif;
} 

.options-menu .option-value-radio {
    text-align: left;
}