.overlay-menu-list {
    position: absolute;
    top: 6vmin;
    font-family: 'Inconsolata', sans-serif;
    background-color: #101010;
    border: solid 1px #ffffff;
    color: #ffffff;
    display: none;
    max-width: 15vw;
}

.conversation-list {
    right: 17.75vmin;
}

.notification-list {
    right: 13.25vmin;
}

.overlay-menu-list .overlay-menu-list-child {
    padding: 1vmin;
    border-bottom: solid 1px #909090;
    white-space: nowrap;
}

.overlay-menu-list .conversation-list-child:last-child {
    border-bottom: none;
}
 
.overlay-menu-list .overlay-menu-list-child:hover {
    cursor: pointer;
    background-color: #202020;
}

.overlay-menu-list .overlay-menu-list-child-username {
    font-size: 1.75vmin;
    color: #f0f0f0;
    pointer-events: none;
}

.overlay-menu-list .overlay-menu-list-child-unread {
    color: #ffffff;
    font-weight: bold;
}

.overlay-menu-list .overlay-menu-list-child-body {
    font-size: 1.5vmin;
    margin-top: 0.25vmin;
    color: #b0b0b0;
    text-overflow: ellipsis;
    overflow: hidden;
    pointer-events: none;
}

.overlay-menu-list-message {
    font-size: 2.5vmin;
    padding: 1vmin 1.5vmin;
}
.overlay-menu-list-message:empty {
    padding: 0;
}

.overlay-menu-list .overlay-menu-list-more {
    text-align: center;
    color: #00b9ff;
    text-decoration: underline;
    padding: 0.5vmin 0;
    border-top: solid 1px #909090;
    display: none;
}

.overlay-menu-list .overlay-menu-list-more {
    color: #33c9ff;
    cursor: pointer;
}