.overlay-menu {
    position: absolute;
    pointer-events: none;
    top: 0;
}

.overlay-menu .fullscreen-toggle img {
    width: 100%;
    height: 100%;
}

.overlay-menu .fullscreen-toggle #fullscreen-toggle-off,
.overlay-menu .fullscreen-toggle #fullscreen-toggle-on,
.overlay-menu .fullscreen-toggle {
    display: none;
}

.overlay-menu .volume-mute,
.overlay-menu .menu-options,
.overlay-menu .fullscreen-toggle {
    position: absolute;
    width: 3.5vmin;
    height: 3.5vmin;
    right: 2.5vmin;
    top: 2.5vmin;
    pointer-events: auto;
}

.overlay-menu .fullscreen-toggle {
    right: 7vmin;
}

.overlay-menu .volume-mute {
    right: 11.5vmin;
}

.overlay-menu .volume-suggestion {
    position: absolute;
    top: 3vmin;
    right: 17vmin;
    pointer-events: auto;
    font-size: 2.25vmin;
    background: #ffffff;
    color: #202020;
    height: 2.5vmin;
    padding: 0 0.5vmin;
    pointer-events: auto;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}
.overlay-menu .volume-suggestion-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.overlay-menu .volume-suggestion::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -1.25vmin;
    border-width: 1.25vmin;
    border-style: solid;
    border-color: transparent transparent transparent #ffffff;
    pointer-events: auto;
}

.overlay-menu .volume-mute:hover,
.overlay-menu .menu-options:hover,
.overlay-menu .fullscreen-toggle:hover,
.overlay-menu .volume-suggestion:hover {
    cursor: pointer;
}