/* Global class for all profile links */
.profile-link:hover {
    text-decoration: underline;
    cursor: pointer;
}
.profile-parent {
    font-family: 'Inconsolata', sans-serif;
    background-color: #101010;
    font-size: 2.5vmin;
    color: #ffffff;
    position: absolute;
    display: none;
    text-align: center;
    border: solid 1px #ffffff;
    width: 20vmin;
}

.profile-parent .profile-container {
    display: inline-grid;
    margin-top: 0.5vmin;
    grid-template-columns: repeat(2, auto);
    justify-items: right;
    grid-gap: 0.25vmin 1vmin;
    font-size: 1.75vmin;
    font-family: 'Inconsolata', sans-serif;
    text-transform: capitalize;
    margin-bottom: 2vmin;
}

.profile-parent .profile-header {
    font-size: 2vmin;
    font-weight: bold;
    padding: 2vmin;
    border-bottom: solid 1px #ffffff;
    margin-bottom: 0.5vmin;
}

.profile-parent .profile-action {
    font-size: 1.75vmin;
    margin: 0.5vmin 0;
    padding: 0.25vmin 0;
    width: 75%;
    border: solid 1px #ffffff;
    display: none;
}

.profile-parent .profile-action:hover {
    cursor: pointer;
    background-color: #03b053;
}

.profile-parent .profile-action-disabled {
    color: #909090;
    border-color: #909090;
}

.profile-parent .profile-action-disabled:hover {
    cursor: default;
    background: none;
}

.profile-parent .profile-action-enabled {
    background-color: #03b053;
}

.profile-parent .profile-action-enabled:hover {
    cursor: default;
    background-color: #03b053;
}

.profile-action-small {
    display: none;
    font-size: 1.45vmin;
    color: #ff1100;
}
.profile-parent .profile-message {
    font-size: 3.5vmin;
}

.profile-parent .profile-data:nth-child(odd) {
    justify-self: left;
}