.rank-chart .rank-chart-container {
    display: flex;
    font-size: 2.5vmin;
    max-width: 90vw;
    overflow-x: auto;
    min-height: 35vh;
    margin: 0 1vmin;
    box-sizing: border-box;
}

.rank-chart .rank-chart-progress {
    height: 1vh;
    background-color: #03b053;
    width: 0%;
}

.rank-chart .rank-container-parent {
    display: flex;
    flex-direction: column;
}

.rank-chart .rank-container {
    border: solid 1px #ffffff;
    border-right: none;
    white-space: nowrap;
    flex-grow: 1;
}

.rank-chart .rank-container-parent:last-child .rank-container {
    border-right: solid 1px #ffffff;
}

.rank-chart .rank-container .rank-chart-title-container,
.rank-chart .rank-container .rank-chart-reward-container {
    padding: 2.5vmin;
}

.rank-chart .rank-chart-title-container {
    border-bottom: solid 1px #ffffff;
}

.rank-chart .rank-chart-title {
    font-size: 3.5vmin;
}

.rank-chart .rank-chart-subtitle {
    font-size: 2vmin;
    font-family: 'Inconsolata', sans-serif;
}

.rank-chart .rank-info {
    font-family: 'Inconsolata', sans-serif;
    font-size: 2vmin;
    text-align: left;
    display: none;
}

.rank-chart .rank-info-rank {
    margin-bottom: 2vmin;
}

.rank-chart .rank-chart-reward {

}