.side-panel {
    position: absolute;
    top: 10vh;
    background-color: #101010;
    border: solid 1px #ffffff;
    left: 2.5vw;
    padding: 1.5vmin;
    text-transform: capitalize;
    box-sizing: border-box;
}

.side-panel .side-panel-title {
    font-size: 3.5vmin;
    margin-bottom: 1vmin;
    text-transform: none;
}

.side-panel-username {
    display: none;
}

.side-panel .side-panel-top .data-container {
    display: none;
}

.side-panel .side-panel-message {
    font-family: 'Inconsolata', sans-serif;
    text-transform: none;
    font-size: 2vmin;
}

.side-panel .side-panel-cmp {
    display: none;
}

.side-panel .side-panel-back {
    margin-top: 1vmin;
    font-size: 2.5vmin;
    display: none;
}

.side-panel .side-panel-btn-parent {
    display: inline-grid;
    margin-top: 1vmin;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1vmin;
}

.side-panel .side-panel-btn-container {
    display: flex;
    flex-direction: column;
    width: 11vmin;
    height: 11vmin;
    border:  solid 1px #ffffff;
}

.side-panel .side-panel-btn-container:hover {
    background-color: #03c95f;
    cursor: pointer;
}

.side-panel .side-panel-btn-img {
    flex-grow: 1;
    pointer-events: none;
}

.side-panel .side-panel-btn-title {
    font-family: 'Inconsolata', sans-serif;
    font-size: 2vmin;
    margin-bottom: 0.5vmin;
    pointer-events: none;
}

.side-panel .side-panel-creator-section {
    display: none;
}

.side-panel .side-panel-search-toggle-parent {
    justify-content: space-evenly;
    margin: 1vmin 0;
    display: none;
}

.side-panel .side-panel-search-toggle-everyone,
.side-panel .side-panel-search-toggle-friends {
    height: 4vmin;
    width: 50%;
    line-height: 4vmin;
    vertical-align: middle;
}

.side-panel .side-panel-search-toggle-everyone:hover,
.side-panel .side-panel-search-toggle-friends:hover {
    background-color: #03b053;
    cursor: pointer;
}

.side-panel .side-panel-search-input {
    margin: 1vmin 0;
    background: none;
    font-size: 2.5vmin;
    border: solid 1px #ffffff;
    outline: none;
    padding: 0.5vmin 1vmin;
    color: #ffffff;
    font-family: 'Inconsolata', sans-serif;
}

.side-panel .side-panel-search-container {
    font-size: 2vmin;
}