.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #ffffff;
}
  
.tooltip .tooltip-text {
    visibility: hidden;
    background-color: #c0c0c0;
    color: #000000;
    text-align: center;
    font-size: 2vmin;
    position: absolute;
    z-index: 1;
    text-align: left;
    padding: 0.5vmin;
}

/* Show the tooltip text when on hover */
.tooltip:hover .tooltip-text {
    visibility: visible;
}