@font-face{
    font-family: 'No Regular';
    src: url('./gomarice_no_continue.ttf') format('truetype');
}

@font-face{
    font-family: 'Bombardier';
    src: url('./bombardier.otf') format('opentype');
}